body{
    background-color: rgb(19, 19, 19);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.main-container{
    font-family: Quicksand;
    background-color: rgb(29, 29, 29);
    width: 90%;
    border: 1px solid rgb(46, 46, 46);
    margin: auto;
    box-sizing: border-box;
    color: white;
    padding: 10px;
}

/*todos los contenidos del header en esta sección*/
.header{
    display: flex;
    background-color: #252525;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    object-fit: contain;
    position: relative;
}

.header img{
    height: auto;
    width: 100%;
    object-fit: contain;
    display: block;
    max-width: 300px;
}
/*todos los contenidos del header en esta sección*/

h1, h2, h3{
    font-family: Pirata One;
    margin: 0;
    text-align: center;
    color: #a3a3a3;
}

.footer{
    text-align: center;
    font-size: 12px;
    padding: 10px;
}

/*todos los contenidos del menu en esta sección*/
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 6px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.menu a{
    text-decoration: none;
    color: rgb(173, 173, 173);
}

.menu ul{
    display: flex;
    padding: 0;
    margin: 0;
}

.menu > ul > li{
    list-style: none;
    display: inline-block;
    line-height: 20px;
    padding: 1px 10px;
    background: #3d3d3d;
}



/*todos los contenidos del menu en esta sección*/

.second-container{
    display: grid;
    grid-template-columns: 200px 1fr;
    background-color: #252525;
    justify-content: center;
    padding: 10px;
}

.sidebar{
    font-size: 14px;
    text-wrap: balance;
    text-align: center;
    padding: 10px;
}

.contenido{
    display: grid;
    grid-column: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    align-items: start;

}

.contenido img {
    width: 100%;
    border-radius: 15px;
}

.contenido span {
    color: #a5a5a5;
    font-size: 14px;
}

.contenido p {
    color: #a3a3a3;
    font-size: 14px;
}

/*shopping*/

.productos {
    display: grid;
    grid-column: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    align-items: center;
    width: 100%;
    min-width: 200px;
    padding: 10px 12px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    text-align: center;
    position: relative;
    
}

.secciones h2 {
    font-size: 40px;
}

.producto img {
    width: 100%;
    border-radius: 15px;
}

.producto h4 {
    color: #a3a3a3;
    font-size: 14px;
}

.producto span {
    color: #a5a5a5;
    font-size: 14px;
}

.producto button {
    text-align: center;
    background-color: rgb(51, 51, 51);
    color: #a5a5a5;
    width: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    font-family: Pirata One;
    font-size: 16px;
}

.carritoCompras button {
    text-align: center;
    background-color: rgb(51, 51, 51);
    color: #a5a5a5;
    width: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    font-family: Pirata One;
    font-size: 16px;
}

.carritoCompras p {
    text-align: start;
    font-family: Pirata One;
    font-size: 25px;
    border: #a3a3a3;
}



/*media query*/
@media only screen and (max-width: 500px) { /*pantallas chicas*/
    body{
        font-size: 14px;
    }
    .second-container{
        grid-template-columns: 1fr;
    }
    .contenido{
        grid-template-columns: 1fr;
    }
    .productos {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 768px) { /*pantallas medianas*/
    body{
        font-size: 18px;
    }
    .second-container{
        grid-template-columns: 1fr 1fr;
    }
    .contenido{
        grid-template-columns: 1fr 1fr;
    }
    .productos {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1200px) { /*pantallas medianas*/
    body{
        font-size: 15px;
    }
    .second-container{
        grid-template-columns: 200px 1fr;
    }
    .contenido{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .productos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}